[phases.setup]
nixPkgs = ["nodejs_20", "nodePackages.pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm --filter=@unifyed/db build", "pnpm --filter=@unifyed/api build"]

[start]
cmd = "node apps/api/dist/index.js"
