[phases.setup]
nixPkgs = ["nodejs_20", "nodePackages.pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = [
  "pnpm --filter=@unifyed/types build",
  "pnpm --filter=@unifyed/utils build", 
  "pnpm --filter=@unifyed/db build",
  "pnpm --filter=@unifyed/events build",
  "pnpm --filter=@unifyed/chat build",
  "pnpm --filter=@unifyed/integrations-restream build",
  "pnpm --filter=@unifyed/integrations-shopify build",
  "pnpm --filter=@unifyed/integrations-stripe build",
  "pnpm --filter=@unifyed/integrations-tiktok build",
  "pnpm --filter=@unifyed/integrations-twitch build",
  "pnpm --filter=@unifyed/integrations-youtube build",
  "pnpm --filter=@unifyed/api build"
]

[start]
cmd = "node apps/api/dist/index.js"
